<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <br><br><br><br><br><br><br>
    <div style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
        <center>
            <h1>Login using <span style="color: gold;"><b>WAX</b></span> account and play <span style="color: goldenrod;"><b>WaxGT Online</b></span></h1>
        </center>

    </div>

    <br><br><br><br><br><br><br><br><br><br>
    <div style="display: flex; justify-content: center; ">
        <ion-button (click)="loginWithAnchor()" *ngIf="!isLoggedIn" color="warning">Anchor Wallet Login</ion-button>
    </div>

    <br><br><br><br><br><br>

    <!--<div style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
        <center>
            <audio name="my_audio" src="../../../assets/turbo-racing-aggressive-energe.m4a" type="audio/x-m4a" autoplay> </audio>
            <script type="text/javascript">
                setTimeout(function() {
                    document.getElementById("my_audio").play();
                    console.log('your audio is started just now');
                }, 4000)
            </script>
        </center>

    </div>-->


    <ion-button [routerLink]="['/tabs/garage']" *ngIf="isLoggedIn">To garage</ion-button>
</ion-content>