<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
    <div style="display: flex; justify-content: center; vertical-align: ">
        <ion-button (click)="loginWithAnchor()" *ngIf="!isLoggedIn" color="warning">Anchor Login</ion-button>
    </div>

    <ion-button [routerLink]="['/tabs/garage']" *ngIf="isLoggedIn">To garage</ion-button>
</ion-content>