<ion-tabs>
    <ion-card style="background-color: gold; padding: 0px; margin: 0px;">
        <span id="instantracelog" style="display: flex; justify-content: center; color:black; font-family: consolas;font-size: 12px;">
          <b>BALANCE: 100 R4C3 + 250 TROPHIES</b>
      </span>
    </ion-card>
    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="garage">
            <ion-icon name="car"></ion-icon>
            <ion-label>Garage</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="office">
            <ion-icon name="briefcase"></ion-icon>
            <ion-label>Offices</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="shop">
            <ion-icon name="card"></ion-icon>
            <ion-label>Shop</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="exchange">
            <ion-icon name="trophy"></ion-icon>
            <ion-label>Exchange</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>