<app-header title="Offices"></app-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Offices</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card style="background-color: gold;">
        <ion-card-header style="padding: 5px;">
            <ion-card-subtitle style="font-size: 12px;color: black;padding-bottom: 2px;"><b><i>OFFICES</i></b>
            </ion-card-subtitle>
            <table width="330px; top:0px" border="0">
                <tr>
                    <td width="24%">
                        <span style="color:black;;font-size: 10px;"><b>FUEL </b></span>
                        <span style="color:yellow;font-size: 10px;">▓</span>
                        <span style="color:orange;font-size: 10px;">▓▓▓</span><br>

                    </td>
                    <td width="36%">
                        <span style="color:black;;font-size: 10px;"><b>TYRES </b></span>
                        <span style="color:black;font-size: 10px;">▓▓▓</span>
                        <span style="color:darkgray;font-size: 10px;">▓</span>
                        <span style="color:black;font-size: 10px;"> [factory]</span>
                    </td>

                    <td width="40%">

                    </td>
                </tr>

            </table>
        </ion-card-header>
    </ion-card>

</ion-content>