<ion-header>
    <ion-toolbar>
        <ion-title>Logout</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <br><br><br><br><br><br><br><br><br><br>
    <div style="display: flex; justify-content: center; vertical-align: ">
        See you soon!
    </div>


    <br><br><br><br><br><br><br><br><br><br>
    <div style="display: flex; justify-content: center; vertical-align: ">
        <ion-button [routerLink]="['/login']" color="warning">Log Out</ion-button>
    </div>



</ion-content>