<app-header title="Garage"></app-header>

<ion-content [fullscreen]="true" style="margin: 0 auto !important;">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Garage</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card style="background-color: gold;">
        <ion-card-header style="padding: 5px;">
            <ion-card-subtitle style="font-size: 12px;color: black;padding-bottom: 2px;"><b><i>GARAGE INVENTORY</i></b>
            </ion-card-subtitle>
            <table width="330px; top:0px" border="0">
                <tr>
                    <td width="24%">
                        <span style="color:black;;font-size: 10px;"><b>FUEL </b></span>
                        <span style="color:yellow;font-size: 10px;">▓</span>
                        <span style="color:orange;font-size: 10px;">▓▓▓</span><br>

                    </td>
                    <td width="36%">
                        <span style="color:black;;font-size: 10px;"><b>TYRES </b></span>
                        <span style="color:black;font-size: 10px;">▓▓▓</span>
                        <span style="color:darkgray;font-size: 10px;">▓</span>
                        <span style="color:black;font-size: 10px;"> [factory]</span>
                    </td>

                    <td width="40%">

                    </td>
                </tr>

            </table>
        </ion-card-header>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>NY Taxi Cab</ion-card-title>
            <ion-card-subtitle style="font-size: 12px;">ID:1099801278420
                <span style="color:dimgray;font-size: 10px;">STATUS: </span>
                <span style="color:gold;font-size: 10px;" id="carstatus">{{ this.state.carStatus}} </span><br>
            </ion-card-subtitle>

            <ion-card id="raceprogressbar" style="background-color: goldenrod; padding: 0px; margin: 0px; height: 3px; margin-top: 5px; width: 100%;">
                <span style="display: flex; justify-content: center; color:black; ">
              </span>
            </ion-card>

            <center>
                <ion-card style="background-color: lime; width: 330px; margin-top: 5px; padding: 0px;" (click)="this.afterClickPlacedPosition()">
                    <span id="instantracelog" style="justify-content: center; color:black;font-family: Consolas; font-size: 20px;">
                    
                </span>
                </ion-card>
            </center>


        </ion-card-header>
        <ion-card-content style="margin:0px;padding: 0px; top: 0px;">
            <table style="margin:0px;padding: 0px; top: 0px; font-family: Consolas; font-size: 10px; margin: 2px; border-color: yellow;" border="0" width="99%">
                <tr>
                    <td rowspan="6" width="130" style="text-align: right; padding-right: 5px;">
                        <div id="garagecar1" (click)="carlights()">
                            <img src="../../../../assets/nytaxicab.png" width="120px">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="72px" style="color: darkgrey;">
                        Max Speed
                    </td>
                    <td width="80px" style="color: white;padding-left: 3px;">▓▓<span id="maxspeedLvlbarCar1" style="color:orange">▓▓</span><span id="maxspeedBasebarCar1" style="color:rgb(255, 200, 98)">▓</span><span id="maxspeedTunebarCar1" style="color:dimgray">▓▓▓▓▓▓▓▓▓▓▓▓</span></td>
                    <td width="50px" style="text-align: left;padding-left: 5px;;color:darkgrey">Lv 2</td>
                </tr>
                <tr>
                    <td style="color: darkgrey">
                        Acceleration
                    </td>
                    <td width="80px" style="color: white;padding-left: 3px;"><span style="color:gold">▓▓▓▓▓▓</span><span style="color:yellow">▓▓</span><span style="color:dimgray">▓▓▓▓▓▓▓▓▓</span></td>
                    <td width="50px" style="text-align: left;padding-left: 5px;;color:darkgrey">Lv 0</td>
                </tr>
                <tr>
                    <td style="color: darkgrey">
                        Braking
                    </td>
                    <td width="80px" style="color: white;padding-left: 3px;">▓<span style="color:firebrick">▓▓▓▓</span><span style="color:crimson"></span><span style="color:dimgray">▓▓▓▓▓▓▓▓▓▓▓▓</span></td>
                    <td width="50px" style="text-align: left;padding-left: 5px;;color:darkgrey">Lv 1</td>
                </tr>
                <tr>
                    <td style="color: darkgrey">
                        Balance
                    </td>
                    <td width="80px" style="color: white;padding-left: 3px;">▓▓<span style="color:greenyellow">▓▓▓▓▓▓</span><span style="color:lime">▓</span><span style="color:dimgray">▓▓▓▓▓▓▓</span><span style="color:dimgray">▓</span></td>
                    <td width="50px" style="text-align: left;padding-left: 5px;color:darkgrey">Lv 2</td>
                </tr>

                <tr>
                    <td style="color:darkgrey" id="carconditiontitle">
                        Condition
                    </td>
                    <td width="80px" style="padding-left: 3px;" id="carcondition"><span style="color: greenyellow;">▓▓</span><span style="color:dimgray">▓▓▓▓▓▓▓▓▓▓▓▓▓▓</span><span style="color:darkred">▓</span></td>
                    <td>&nbsp;<span style="color:goldenrod;padding-left: 5px;" (click)="showConditionHelp()"> <b>?</b> </span></td>
                </tr>

            </table>
            <span style="color:dimgray;font-size: 10px; margin-left: 5px;">RANK: </span>
            <span style="color:white;font-size: 10px;">15th </span>

            <center>
                <div id="car1SubMenuTitleBar" style="background-color:gold;border-radius: 5px 5px 0px 0px;color:orangered;font-family: RacingSansOne; font-size: 14px;;margin:0px;padding:0px"></div>
            </center>

            <div id="tuningwindow" style="background-color: goldenrod; margin-top: 5px; margin: 0px;padding: 0px;overflow-x: scroll;letter-spacing: 2px">
                <span id="tuningsection" style="font-size: 14px;">
                
            </span>
            </div>

            <div id="upgradingwindow" style="background-color: dodgerblue; margin-top: 5px; margin: 0px;padding: 0px;overflow-x: scroll;letter-spacing: 2px">
                <span id="upgradingsection" style="font-size: 14px;">
                
            </span>
            </div>


            <ion-card style=" background-color: black; padding: 0px; margin: 0px; ">
                <ion-card-header style="padding: 5px;">
                    <center>
                        <table width="330px" border="0">
                            <tr>
                                <td width="25%" align="center">
                                    <ion-button (click)="startRace() " color="{{ startRaceButtonCollor }} " style="width: 66px; height: 18px; font-size: 9px; " id="buttonStartRace"><b>START RACE</b></ion-button>
                                </td>
                                <td width="25%" align="center">
                                    <ion-button (click)="switchUpgradeWindow()" color="warning" style="width: 66px; height: 18px; font-size: 9px;">UPGRADE</ion-button>
                                </td>
                                <td width="25%" align="center">
                                    <ion-button (click)="switchTuningWindow()" style="width: 66px; height: 18px; font-size: 9px;" color="{{ equipButtonCollor }}">TUNING</ion-button>
                                </td>
                                <td width="25%" align="center">
                                    <ion-button (click)="repairCar()" style="width: 66px; height: 18px; font-size: 9px; " color="{{ repairButtonCollor }}">REPAIR CAR</ion-button>
                                </td>
                            </tr>

                        </table>
                    </center>
                </ion-card-header>
            </ion-card>

        </ion-card-content>
    </ion-card>

    <div style="display: flex; justify-content: center; ">

    </div>
</ion-content>