<app-header title="Garage"></app-header>

<ion-content [fullscreen]="true" style="margin: 0 auto !important;">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Garage</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card style="background-color: antiquewhite; border-top: 3px solid orangered;">
        <ion-card-header style="padding: 5px;">
            <ion-card-subtitle style="font-size: 12px;color: black;padding-bottom: 2px;"><b><i>TEAM INVENTORY</i></b>
            </ion-card-subtitle>
            <table width="330px; top:0px" border="0">
                <tr>
                    <td width="24%">
                        <span style="color:black;;font-size: 10px;"><b>FUEL </b></span>
                        <span style="color:yellow;font-size: 10px;">■</span>
                        <span style="color:orange;font-size: 10px;">■■■</span><br>

                    </td>
                    <td width="36%">
                        <span style="color:black;;font-size: 10px;"><b>TYRES </b></span>
                        <span style="color:black;font-size: 10px;">■■■</span>
                        <span style="color:darkgray;font-size: 10px;">■</span>
                        <span style="color:black;font-size: 10px;"> [factory]</span>
                    </td>

                    <td width="40%">

                    </td>
                </tr>

            </table>
        </ion-card-header>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>NY Taxi Cab</ion-card-title>
            <ion-card-subtitle style="font-size: 12px;">ID:1099801278420
                <span style="color:dimgray;font-size: 10px;">STATUS: </span>
                <span style="color:gold;font-size: 10px;" id="carstatus">{{ this.state.carStatus}} </span><br>
            </ion-card-subtitle>

        </ion-card-header>
        <ion-card-content style="margin:0px;padding: 0px; top: 0px;">

            <ion-card id="raceprogressbar" style="background-color: goldenrod; padding: 0px; margin: 0px; height: 3px; margin-top: 0px; width: 100%;">
                <span style="display: flex; justify-content: center; color:black; margin:0px"></span>
            </ion-card>

            <center>
                <ion-card style="background-color: lime; width: 330px; margin-top: 5px; padding: 0px;" (click)="this.afterClickPlacedPosition()">
                    <span id="instantracelog" style="justify-content: center; color:black;font-family: Consolas; font-size: 20px;">
                </span>
                </ion-card>
            </center>

            <div style="width: 99%; margin: 2px; padding: 0px;text-align: left;">
                <span id="installedUpgrades" style="color:black;font-family: Consolas; font-size: 20px;margin: 3px;">
                        <!--<img src="../../../../assets/nft_engine_rare.png" width="18px" height="18px" >-->
                </span>
                <span id="installedUpgrades" style="color:black;font-family: Consolas; font-size: 20px;margin: 3px;">
                    <!--<img src="../../../../assets/nft_braking_common.png" width="18px" height="18px" >-->
                </span>
            </div>

            <table style="padding: 0px; top: 0px; font-family: Consolas; font-size: 10px; margin: 2px; border-color: yellow;" border="0" width="99%">
                <tr>
                    <td rowspan="6" width="130" style="text-align: right; padding-right: 5px;">
                        <div id="garagecar1" (click)="carlights()">
                            <img src="../../../../assets/greycar.png" width="120px">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="72px" style="color: darkgrey;">
                        Max Speed
                    </td>
                    <td width="80px" style="color: grey;padding-left: 3px;"><span id="maxspeedUpgbarCar2222222222222" style="color:turquoise"></span><span id="maxspeedLvlbarCar2222222222222" style="color:white"></span><span id="maxspeedBasebarCar2222222222222" style="color:rgb(255, 200, 98)"></span>
                        <span id="maxspeedTunebarCar2222222222222" style="color:orange"></span>
                        <span id="fillmaxspeedCar2222222222222" style="color:dimgrey"></span></td>
                    <td width="50px" style="text-align: left;padding-left: 5px;;color:darkgrey">Lv 2</td>
                </tr>
                <tr>
                    <td style="color: darkgrey">
                        Acceleration
                    </td>
                    <td width="80px" style="color: white;padding-left: 3px;"><span id="accelerationUpgbarCar2222222222222" style="color:turquoise"></span><span id="accelerationLvlbarCar2222222222222" style="color:white"></span><span id="accelerationBasebarCar2222222222222" style="color:yellow"></span>
                        <span id="accelerationTunebarCar2222222222222" style="color:gold"></span>
                        <span id="fillaccelerationCar2222222222222" style="color:dimgrey"></span></td>
                    <td width="50px" style="text-align: left;padding-left: 5px;;color:darkgrey">Lv 0</td>
                </tr>
                <tr>
                    <td style="color: darkgrey">
                        Braking
                    </td>
                    <td width="80px" style="color: white;padding-left: 3px;"><span id="brakingUpgbarCar2222222222222" style="color:turquoise"></span><span id="brakingLvlbarCar2222222222222" style="color:white"></span><span id="brakingBasebarCar2222222222222" style="color:orangered"></span><span id="brakingTunebarCar2222222222222"
                            style="color:crimson"></span>
                        <span id="fillbrakingCar2222222222222" style="color:dimgrey"></span></td>
                    <td width="50px" style="text-align: left;padding-left: 5px;;color:darkgrey">Lv 1</td>
                </tr>
                <tr>
                    <td style="color: darkgrey">
                        Balance
                    </td>
                    <td width="80px" style="color: white;padding-left: 3px;"><span id="balanceUpgbarCar2222222222222" style="color:turquoise"></span><span id="balanceLvlbarCar2222222222222" style="color:white"></span><span id="balanceBasebarCar2222222222222" style="color:greenyellow"></span><span id="balanceTunebarCar2222222222222"
                            style="color:lime"></span>
                        <span id="fillbalanceCar2222222222222" style="color:dimgrey"></span>
                    </td>
                    <td width="50px" style="text-align: left;padding-left: 5px;color:darkgrey">Lv 2</td>
                </tr>

                <tr>
                    <td style="color:darkgrey" id="carconditiontitle">
                        Condition
                    </td>
                    <td width="80px" style="padding-left: 3px;" id="carcondition"><span style="color: greenyellow;">■■</span><span style="color:dimgray">■■■■■■■■■■■■■■■■■</span><span style="color:darkred">■</span></td>
                    <td>&nbsp;<span style="color:goldenrod;padding-left: 5px;" (click)="showConditionHelp()"> <b>?</b> </span></td>
                </tr>

            </table>
            <span style="color:gold;font-size: 10px; margin-left: 3px;">CIRCUIT: </span>
            <span style="color:darkgoldenrod;font-size: 10px;">#1</span>
            <span style="color:gold;font-size: 10px; margin-left: 3px;">&nbsp;&nbsp;BEST RANK: </span>
            <span style="color:darkgoldenrod;font-size: 10px;">10th </span>
            <span style="color:gold;font-size: 10px; margin-left: 3px;">&nbsp;&nbsp;TOTAL KM: </span>
            <span style="color:darkgoldenrod;font-size: 10px;">100,000 </span>


            <center>
                <div id="car1SubMenuTitleBar" style="background-color:gold;border-radius: 5px 5px 0px 0px;color:orangered;font-family: RacingSansOne; font-size: 14px;;margin:0px;padding:0px"></div>
            </center>

            <div id="tuningwindow" style="background-color: black; margin-top: 5px; margin: 0px;padding: 0px;overflow-x: scroll;letter-spacing: 2px; height:0px">
                <span id="tuningsection" style="font-size: 14px;">

                    <div style="display: flex; width:800px; margin-top:6px">
                        &nbsp;
                        <table><tr><td>
                              <table style="background-color:white" border="0"><tr><td colspan="3"><span style="padding-left:4px;font-family:Consolas;font-size:10px;color:black;"><b>MAX SPEED</b></span></td>
                </tr>
                <tr>
                    <td style="height:60px;width:50px;background-color:deeppink;color:black;">
                        <center>NFT</center>
                    </td>
                    <td style="height:60px;width:50px;background-color:dodgerblue;color:black">
                        <center>NFT</center>
                    </td>
                    <td style="height:60px;width:50px;background-color:black;color:white">
                        <center>NFT</center>
                    </td>
                </tr>
                <tr>
                    <td style="width:50px;background-color:goldenrod">
                        <center>
                            <ion-button (click)="carlights()" color="danger" style="width: 36px; height: 12px; font-size: 8px;">REMOVE</ion-button>
                        </center>
                    </td>
                    <td style="width:50px;background-color:goldenrod">
                        <center>
                            <ion-button (click)="carlights()" color="danger" style="width: 36px; height: 12px; font-size: 8px;">REMOVE</ion-button>
                        </center>
                    </td>
                    <td style="width:50px;background-color:goldenrod">
                        <center>
                            <ion-button (click)="carlights()" color="danger" style="width: 36px; height: 12px; font-size: 8px;">REMOVE</ion-button>
                        </center>
                    </td>
                </tr>
                </table>
                </td>
                </tr>
                </table>&nbsp;
                <table>
                    <tr>
                        <td>
                            <table style="background-color:white" border="0">
                                <tr>
                                    <td colspan="3"><span style="padding-left:5px;font-family:Consolas;font-size:10px;color:black"><b>ACCELERATION</b></span></td>
                                </tr>
                                <tr>
                                    <td style="height:60px;width:50px;background-color:dodgerblue;color:black">
                                        <center>NFT</center>
                                    </td>
                                    <td style="height:60px;width:50px;background-color:limegreen;color:black">
                                        <center>NFT</center>
                                    </td>
                                    <td style="height:60px;width:50px;background-color:black;color:white">
                                        <center>NFT</center>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:50px;background-color:goldenrod">
                                        <center>
                                            <ion-button (click)="carlights()" color="primary" style="width: 36px; height: 12px; font-size: 8px;">EQUIP</ion-button>
                                        </center>
                                    </td>
                                    <td style="width:50px;background-color:goldenrod">
                                        <center>
                                            <ion-button (click)="carlights()" color="danger" style="width: 36px; height: 12px; font-size: 8px;">REMOVE</ion-button>
                                        </center>
                                    </td>
                                    <td style="width:50px;background-color:goldenrod">
                                        <center>
                                            <ion-button (click)="carlights()" color="primary" style="width: 36px; height: 12px; font-size: 8px;">EQUIP</ion-button>
                                        </center>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>&nbsp;
                <table>
                    <tr>
                        <td>
                            <table style="background-color:white" border="0">
                                <tr>
                                    <td colspan="3"><span style="padding-left:5px;font-family:Consolas;font-size:10px;color:black"><b>BRAKING</b></span></td>
                                </tr>
                                <tr>
                                    <td style="height:60px;width:50px;background-color:yellow;color:black">
                                        <center>NFT</center>
                                    </td>
                                    <td style="height:60px;width:50px;background-color:dodgerblue;color:black">
                                        <center>NFT</center>
                                    </td>
                                    <td style="height:60px;width:50px;background-color:dodgerblue;color:black">
                                        <center>NFT</center>
                                    </td>
                                    <td style="height:60px;width:50px;background-color:black;color:white">
                                        <center>NFT</center>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:50px;background-color:goldenrod">
                                        <center>
                                            <ion-button (click)="carlights()" color="danger" style="width: 36px; height: 12px; font-size: 8px;">REMOVE</ion-button>
                                        </center>
                                    </td>
                                    <td style="width:50px;background-color:goldenrod">
                                        <center>
                                            <ion-button (click)="carlights()" color="primary" style="width: 36px; height: 12px; font-size: 8px;">EQUIP</ion-button>
                                        </center>
                                    </td>
                                    <td style="width:50px;background-color:goldenrod">
                                        <center>
                                            <ion-button (click)="carlights()" color="danger" style="width: 36px; height: 12px; font-size: 8px;">REMOVE</ion-button>
                                        </center>
                                    </td>
                                    <td style="width:50px;background-color:goldenrod">
                                        <center>
                                            <ion-button (click)="carlights()" color="primary" style="width: 36px; height: 12px; font-size: 8px;">EQUIP</ion-button>
                                        </center>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>&nbsp;
                <table>
                    <tr>
                        <td>
                            <table style="background-color:white" border="0">
                                <tr>
                                    <td colspan="5"><span style="padding-left:5px;font-family:Consolas;font-size:10px;color:black"><b>BALANCE</b></span></td>
                                </tr>
                                <tr>
                                    <td style="height:60px;width:50px;background-color:yellow;color:black">
                                        <center>NFT</center>
                                    </td>
                                    <td style="height:60px;width:50px;background-color:dodgerblue;color:black">
                                        <center>NFT</center>
                                    </td>
                                    <td style="height:60px;width:50px;background-color:limegreen;color:black">
                                        <center>NFT</center>
                                    </td>
                                    <td style="height:60px;width:50px;background-color:black;color:white">
                                        <center>NFT</center>
                                    </td>
                                    <td style="height:60px;width:50px;background-color:black;color:white">
                                        <center>NFT</center>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:50px;background-color:goldenrod">
                                        <center>
                                            <ion-button (click)="carlights() " color="primary" style="width: 36px; height: 12px; font-size: 8px;">EQUIP</ion-button>
                                        </center>
                                    </td>
                                    <td style="width:50px;background-color:goldenrod">
                                        <center>
                                            <ion-button (click)="carlights() " color="danger" style="width: 36px; height: 12px; font-size: 8px;">REMOVE</ion-button>
                                        </center>
                                    </td>
                                    <td style="width:50px;background-color:goldenrod">
                                        <center>
                                            <ion-button (click)="carlights() " color="danger" style="width: 36px; height: 12px; font-size: 8px;">REMOVE</ion-button>
                                        </center>
                                    </td>
                                    <td style="width:50px;background-color:goldenrod">
                                        <center>
                                            <ion-button (click)="carlights() " color="danger" style="width: 36px; height: 12px; font-size: 8px;">REMOVE</ion-button>
                                        </center>
                                    </td>
                                    <td style="width:50px;background-color:goldenrod">
                                        <center>
                                            <ion-button (click)="carlights() " color="danger" style="width: 36px; height: 12px; font-size: 8px;">REMOVE</ion-button>
                                        </center>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>&nbsp;
            </div>
            </span>
            </div>

            <div id="upgradingwindow" style="background-color: black; margin-top: 5px; margin-left: 0px;padding: 0px;overflow-x: scroll;letter-spacing: 2px; height:0px">
                <span id="upgradingsection" style="font-size: 14px;">

                    <div style="display: flex; margin-top:5px; margin-left: 10px;">
                        <table><tr><td>
                            <table style="background-color:white;font-family:RacingSansOne;font-size:9px;" border="1">
                              <tr>
                                 <td style="height:60px;width:80px;background-color:lime;color:black;"><center><b>MAX SPEED</b></center></td>
                                 <td style="height:60px;width:110px;background-color:gold;color:black;"><center><b>ACCELERATION</b></center></td>
                                 <td style="height:60px;width:80px;background-color:red;color:white;"><center><b>BRAKING</b></center></td>
                                 <td style="height:60px;width:80px;background-color:deepskyblue;color:black;"><center><b>BALANCE</b></center></td>
                              </tr>
                              <tr>
                                 <td style="background-color:goldenrod"><center><ion-button id="btupgrademaxspeed" (click)="upgradeMaxSpeed(1,2222222222222)" color="warning" style="width: 66px; height: 18px; font-size: 9px;">UPGRADE</ion-button></center></td>
                                 <td style="background-color:goldenrod"><center><ion-button id="btupgradeacceleration" (click)="upgradeAcceleration(1,2222222222222)" color="warning" style="width: 66px; height: 18px; font-size: 9px;">UPGRADE</ion-button></center></td>
                                 <td style="background-color:goldenrod"><center><ion-button id="btupgradebraking" (click)="upgradeBraking(1,2222222222222)" color="warning" style="width: 66px; height: 18px; font-size: 9px;">UPGRADE</ion-button></center></td>
                                 <td style="background-color:goldenrod"><center><ion-button id="btupgradebalance" (click)="upgradeBalance(1,2222222222222)" color="warning" style="width: 66px; height: 18px; font-size: 9px;">UPGRADE</ion-button></center></td>
                              </tr>
                              </table>
                        </td></tr></table>&nbsp;
                    </div>
                </span>
            </div>

            <ion-card style=" background-color: black; padding: 0px; margin: 0px; ">
                <ion-card-header style="padding: 5px;">
                    <center>
                        <table width="330px" border="0">
                            <tr>
                                <td width="25%" align="center">
                                    <ion-button (click)="startRace()" color="{{ startRaceButtonCollor }} " style="width: 66px; height: 18px; font-size: 9px; " id="buttonStartRace"><b>START RACE</b></ion-button>
                                </td>
                                <td width="25%" align="center">
                                    <ion-button (click)="switchUpgradeWindow()" color="{{ upgradeButtonCollor }}" style="width: 66px; height: 18px; font-size: 9px; " id="buttonUpradeCar ">UPGRADE</ion-button>
                                </td>
                                <td width="25% " align="center ">
                                    <ion-button (click)="switchTuningWindow() " style="width: 66px; height: 18px; font-size: 9px; " color="{{ equipButtonCollor }} " id="buttonTuningCar ">TUNING</ion-button>
                                </td>
                                <td width="25% " align="center ">
                                    <ion-button (click)="repairCar() " style="width: 66px; height: 18px; font-size: 9px; " color="{{ repairButtonCollor }} " id="buttonRepairCar ">REPAIR CAR</ion-button>
                                </td>
                            </tr>

                        </table>
                    </center>
                </ion-card-header>
            </ion-card>

        </ion-card-content>
    </ion-card>

    <div style="display: flex; justify-content: center; ">

    </div>
</ion-content>