<app-header title="Garage"></app-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Garage</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card style="background-color: crimson;">
        <ion-card-header style="padding: 5px;">
            <ion-card-subtitle style="font-size: 11px;color: antiquewhite;">GARAGE INVENTORY
            </ion-card-subtitle>
            <table width="330px; top:0px">
                <tr>
                    <td width="25%">
                        <span style="color:antiquewhite;;font-size: 10px;"><b>CONDITION </b></span>
                        <span style="color:lime;font-size: 10px;">▓▓▓</span>
                        <span style="color:lightgreen;font-size: 10px;">▓</span><br>

                    </td>
                    <td width="25%">
                        <span style="color:antiquewhite;;font-size: 10px;"><b>FUEL </b></span>
                        <span style="color:yellow;font-size: 10px;">▓</span>
                        <span style="color:orange;font-size: 10px;">▓▓▓</span><br>

                    </td>
                    <td width="25%">

                    </td>
                    <td width="25%">
                        <span style="color:antiquewhite;;font-size: 10px;"><b>TYRES </b></span>
                        <span style="color:black;font-size: 10px;">▓▓▓</span>
                        <span style="color:firebrick;font-size: 10px;">▓</span>

                    </td>
                </tr>

            </table>
        </ion-card-header>
    </ion-card>


    <ion-card>
        <ion-card-header>
            <ion-card-title>NY Taxi Cab</ion-card-title>
            <ion-card-subtitle style="font-size: 12px;">ID:1099801278420
                <span style="color:dimgray;font-size: 10px;">STATUS: </span>
                <span style="color:red;font-size: 10px;">In garage </span>
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content style="margin:0px;padding: 0px; top: 0px;">
            <ion-list style="margin:0px;padding: 0px; top: 0px;">
                <ion-item style="margin:0px;padding: 0px; top: 0px;">
                    <ion-label style="margin:0px;padding: 0px; top: 0px;">
                        <table style="margin:0px;padding: 0px; top: 0px; font-family: consolas; font-size: 10px; margin: 2px; border-width: 1px; border-color: yellow;" border="0" width="330px">
                            <tr>
                                <td rowspan="6">
                                    <div id="garagecar1" (click)="carlights()">
                                        <img src="../../../../assets/nytaxicab.jfif" width="120px">
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td witdth="230px">
                                    Max Speed
                                </td>
                                <td style="color: orange;padding-left: 3px;">▓▓▓▓<span style="color:rgb(255, 200, 98)">▓</span><span style="color:dimgray">▓▓▓▓▓▓▓</span></td>
                            </tr>
                            <tr>
                                <td witdth="230px">
                                    Acceleration
                                </td>
                                <td style="color: gold;padding-left: 3px;">▓▓▓▓▓▓<span style="color:yellow">▓▓</span><span style="color:dimgray">▓▓▓▓</span></td>
                            </tr>
                            <tr>
                                <td witdth="230px">
                                    Braking
                                </td>
                                <td style="color: firebrick;padding-left: 3px;">▓▓▓<span style="color:crimson">▓</span><span style="color:dimgray">▓▓▓▓▓▓▓▓</span></td>
                            </tr>
                            <tr>
                                <td witdth="230px">
                                    Balance
                                </td>
                                <td style="color: greenyellow;padding-left: 3px;">▓▓▓▓▓▓▓▓▓▓<span style="color:lime">▓</span><span style="color:dimgray">▓</span></td>
                            </tr>

                            <tr>
                                <td witdth="230px">
                                    Condition
                                </td>
                                <td style="color: greenyellow;padding-left: 3px;">▓▓▓▓▓▓▓▓▓▓▓<span style="color:darkred">▓</span></td>
                            </tr>

                        </table>

                    </ion-label>
                </ion-item>
                <span style="color:dimgray;font-size: 10px; margin-left: 5px;">RANK: </span>
                <span style="color:white;font-size: 10px;">15th </span>

                <ion-card style="background-color: black; padding: 0px; margin: 0px;">
                    <ion-card-header style="padding: 5px;">
                        <table width="100%" border="0">
                            <tr>
                                <td width="25%" align="center">
                                    <ion-button (click)="loginWithAnchor()" color="lime" style="width: 66px; height: 18px; font-size: 9px;"><b>START RACE</b></ion-button>
                                </td>
                                <td width="25%" align="center">
                                    <ion-button (click)="loginWithAnchor()" color="medium" style="width: 66px; height: 18px; font-size: 9px;">DISABLED</ion-button>
                                </td>
                                <td width="25%" align="center">
                                    <ion-button (click)="loginWithAnchor()" color="medium" style="width: 66px; height: 18px; font-size: 9px;">DISABLED</ion-button>
                                </td>
                                <td width="25%" align="center">
                                    <ion-button (click)="loginWithAnchor()" color="primary" style="width: 66px; height: 18px; font-size: 9px;">REPAIR CAR</ion-button>
                                </td>
                            </tr>

                        </table>
                    </ion-card-header>
                </ion-card>

            </ion-list>
        </ion-card-content>
    </ion-card>
    <div style="display: flex; justify-content: center;">

    </div>
</ion-content>